@import url(founts.scss);
@import url(theme-color.scss);

// Header start
.p-panel {
  .p-panel-header {
    padding: 0rem;
  }
}
// Header End
.p-button {
  padding: 0.4rem 1rem;
}
back-arrow-left {
  padding-right: 0.5rem;
}

h2,
h3 {
  font-weight: 700;
  color: hsl(200, 15%, 8%);
}

.p-input-icon-left {
  > .p-inputtext {
    padding: 1rem 1rem 1rem 4rem;
  }
}
header {
  height: 3rem;
  top: 0px;
  box-shadow: 0 3px 0px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 0px 0px 0 rgba(0, 0, 0, 0.12);
}
.p-button {
  padding: 0.2rem 0.9rem;
}
.p-component {
  font-family: "Nunito Sans" !important;
  height: 100%;
}

.p-button.p-button-raised {
  color: hsl(0, 0%, 98%);
}

.container {
  background-color: hsl(0, 0%, 98%);
}

.p-dropdown {
  .p-dropdown-label.p-placeholder {
    color: hsl(200, 15%, 8%);
  }
}
