<div class="container">
  <div class="grid sm:p-4 md:p-4 lg:p-6">
    <div
      *ngFor="let country of countries"
      class="col-12 md:col-4 lg:col-3 p-fluid p-5"
    >
      <p-card styleClass="shadow-4">
        <ng-template pTemplate="header">
          <img [src]="country?.flags?.svg" />
        </ng-template>
        <h3>{{ country?.name?.common }}</h3>
        <div class="card">
          <div class="card-container">
            <div class="block mb-1">Population: {{ country?.population }}</div>
            <div class="block mb-1">Region: {{ country?.region }}</div>
            <div class="block mb-1">Capital: {{ country?.capital }}</div>
          </div>
        </div>
        <ng-template pTemplate="footer"> </ng-template>
      </p-card>
    </div>
  </div>
</div>
