<div class="card p-3">
  <div class="flex justify-content-between flex-wrap card-container gap-3">
    <div class="m-2">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          type="text"
          pInputText
          placeholder="Search"
          [(ngModel)]="searchText"
        />
      </span>
    </div>
    <div class="m-2">
      <app-regions-dropdown
        (onRegionChange)="onRegionChange($event)"
      ></app-regions-dropdown>
    </div>
  </div>
</div>

<div class="grid">
  <p-card
    *ngFor="let country of countries$ | async"
    class="col-12 md:col-4 lg:col-3 p-fluid p-5"
    styleClass="shadow-4 cursor-pointer"
    [routerLink]="['/countries', country?.name?.common]"
  >
    <ng-template pTemplate="header">
      <img [src]="country?.flags?.svg" class="md:h-full" />
    </ng-template>
    <h3>{{ country?.name?.common }}</h3>
    <div class="card">
      <div class="card-container">
        <div class="block mb-1">Population: {{ country?.population }}</div>
        <div class="block mb-1">Region: {{ country?.region }}</div>
        <div class="block mb-1">Capital: {{ country?.capital }}</div>
      </div>
    </div>
  </p-card>
</div>
