<div class="card p-3 py-5">
  <div class="flex justify-content-between flex-wrap card-container gap-3">
    <div class="m-2">
      <span class="p-input-icon-left">
        <i class="pi pi-search lg:pl-5"></i>
        <input
          type="text"
          pInputText
          placeholder="Search fo country..."
          [(ngModel)]="searchText"
          class="lg:px-8 py-3"
        />
      </span>
    </div>
    <div class="m-2">
      <app-regions-dropdown
        (onRegionChange)="onRegionChange($event)"
      ></app-regions-dropdown>
    </div>
  </div>
</div>

<div class="grid">
  <ng-container *ngIf="countries$ | async as countries">
    <p-card
      *ngFor="let country of countries | searchCountry : searchText"
      class="col-12 md:col-4 lg:col-3 p-fluid p-5"
      styleClass="shadow-4 cursor-pointer"
      [routerLink]="['/country', country?.cca3]"
    >
      <ng-template pTemplate="header">
        <img [src]="country?.flags?.svg" class="md:h-full max-h-15rem" />
      </ng-template>
      <div class="card">
        <div class="card-container">
          <h3>{{ country?.name?.common }}</h3>
          <div class="block mb-1">
            <span class="font-semibold">Population</span>:
            {{ country?.population }}
          </div>
          <div class="block mb-1">
            <span class="font-semibold">Region</span>: {{ country?.region }}
          </div>
          <div class="block mb-1">
            <span class="font-semibold">Capital</span>: {{ country?.capital }}
          </div>
        </div>
      </div>
    </p-card>
  </ng-container>
</div>
