<div class="p-4">
  <button
    pButton
    class="p-button-raised p-button-text"
    type="button"
    icon="pi pi-arrow-left back-arrow-left"
    iconPos="left"
    routerLink="/"
  >
    Back
  </button>

  <div class="grid py-5" *ngIf="countryDetails">
    <div class="col-12 lg:col-6 p-fluid">
      <img [src]="countryDetails.flags.svg" class="max-w-full" />
    </div>
    <div class="col-12 lg:col-6 p-fluid">
      <div class="card">
        <div class="card-container">
          <div>
            <div class="block mb-1">
              Native Name:: {{ countryDetails.name.common }}
            </div>
            <div class="block mb-1">
              Population: {{ countryDetails.population }}
            </div>
            <div class="block mb-1">
              Sub Region: {{ countryDetails.subregion }}
            </div>
            <div class="block mb-1">
              Capital:
              {{ countryDetails.capital }}
            </div>
          </div>
          <div>
            <div class="block mb-1">
              Top Lavel Domain: {{ countryDetails.population }}
            </div>

            <div class="block mb-1">
              Currencies:
              <!-- {{ countryDetails?.currencies }} -->
            </div>
            <div class="block mb-1">
              Languages:
              <!-- {{ countryDetails?.languages }} -->
            </div>
          </div>
        </div>

        <div>
          Borders:
          <button
            *ngFor="let borderCountry of countryDetails?.bordersCountry"
            pButton
            pRipple
            type="button"
            class="p-button-raised p-button-text"
            [routerLink]="['/country', borderCountry?.cca3]"
          >
            {{ borderCountry?.name?.common }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
