/* You can add global styles to this file, and also import other style files */

@import url(assets/scss/theme.scss);

html,
body {
  margin: 0px;
  padding: 0px;
  font-family: "Nunito Sans" !important;
}
